.login-root {
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    height: 300px;
    width: 230px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: table;
    flex-direction: column;
    background-color: white;
}

.login-button {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: white;
    font-size: 20px;
    position: relative;
    display: table;
    margin: 0px 70px 10px 70px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    border: 0.5px solid #D97C2B;
    cursor: pointer;
    background-color: #D97C2B;
    text-decoration: inherit;
    font-size: medium;
}

.signin-button {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: white;
    font-size: 20px;
    position: relative;
    display: table;
    margin: 0px 70px 10px 70px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid #8C4303;
    cursor: pointer;
    width: 190px;
    height: 40px;
    background-color: #8C4303;
    text-decoration: inherit;
    font-size: medium;
}

.welcome-jagui{
    position: relative;
    width: 300px;
}
