.profile-container{
  margin-top: 25px;
}

.info {
    display: flex;
    justify-content: left;
    padding: 12px;
    border: 4px solid #FFAA4F;
    border-radius: 5px;
    width: 800px;
    margin-bottom: 0%;
}
  
#profile-picture {
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 50%;
    /* margin-right: 20px; */
}
  
.column {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
  
.username {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.description {
    font-size: 16px;
    text-align: justify;
}

.buttons-container{
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: 250px;
}

.each-button {
  display: inline-block;
  margin: 5%;
  border-color: #FFAA4F;
  border-radius: 50px;
  background-color: #FFFF;
  width: 90px;
  height: 90px;
  outline: "none";
  border-style: hidden;
}

.each-button:hover{
    background-color: #FFAA4F;
}

.recommendation-card {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* El ancho de la card se ajustará automáticamente */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recommendation-card h3 {
  font-size: 18px;
  color: #04738c;
  margin-top: 0;
}

.recommendation-card p {
  font-size: 14px;
  color: #8c4303;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%; 
}

.recommendation-card img {
  width: 100%;
  height: 200px; 
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.rating-stars i {
  font-size: 20px;
  margin-right: 5px;
  color: #FFAA4F;
}

.rating-stars i.filled-star {
  color: #FFAA4F;
}

.rating-stars i.empty-star {
  color: #FFAA4F;
}

.image-container-profile{
  Display:flex; 
  align-items : center;
  justify-content: center;
  flex-direction: column;
}

.image-change-submit {
  padding: 5px 10px;
  background-color: #FFAA4F;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-display{
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.image-display:hover {
	opacity: 100;
}

@media screen and (max-width: 321px) {
  .info{
    display: flex;
    justify-content: center;
    width: 175px;
  }

  .buttons-container{
    width: 175px;
  }

  .each-button{
    width: 70px;
    height: 70px;
  }

  .image-change-submit{
    font-size: 15px;
    height: 25px;
  }

  .user-recommendations{
    width: 150px;
  }
}

@media  screen and  (min-width: 321px) and (max-width: 426px){
  .info{
    display: flex;
    justify-content: center;
    width: 250px;
  }

  .image-change-submit{
    font-size: 15px;
    height: 25px;
  }

  .user-recommendations{
    width: 225px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px){
  .info{
    display: flex;
    width: 450px;
  }

  .user-recommendations{
    width: 425px;
  }
}

@media screen and (min-width: 1025px) {
  .info{
    display: flex;
    width: 900px;
  }

  .user-recommendations{
    width: 875px;
  }
}
