.info {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 4px solid #FFAA4F;
    border-radius: 5px;
    width: 350px;
}
  
#profile-picture {
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
}
  
.column {
    display: flex;
    flex-direction: column;
}
  
.username {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.description {
    font-size: 16px;
    text-align: justify;
}

.each-button {
  display: inline-block;
  margin: 10px;
  border-color: #FFAA4F;
  border-radius: 50px;
  background-color: #FFFF;
  width: 90px;
  height: 90px;
  outline: "none";
  border-style: hidden;
}

.each-button:hover{
    background-color: #FFAA4F;
}

.recommendation-card {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .recommendation-card h3 {
    font-size: 18px;
    color: #04738c;
    margin-top: -3%;
  }
  
  .recommendation-card p {
    font-size: 14px;
    color: #8c4303;
  }
  
  .recommendation-card img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }

  .rating-stars {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .rating-stars i {
    font-size: 20px;
    margin-top: -45%;
    margin-right: 5px;
  }
  
  .rating-stars i.filled-star {
    color: #FFAA4F; 
  }
  
  .rating-stars i.empty-star {
    color: #FFAA4F;
  }