.edit-recommendations-container{
    text-align: justify;
}

.title{
    font-size: 20px;
    text-align: center;
}

.editing{
    padding-left: 100px;
}

.Placename {
    font-size: 18px;
    margin: 10px;
    text-align: justify;
    font-weight: bold;
    color: #04738C;
}

.other{
    font-size: 16px;
    margin: 10px;
    color: #04738C;
    padding-right: 100px;
}

.descriptionPlace{
    font-size: 15px;
    outline: none;
    size: 10px;
    padding: 5px;
    margin-left: 5px;
    height: 100px;
    width: 500px;
    font-family: "Lucida Grande";
    border-color: #FFAA4F;
    border-radius: 5px;
}

.input-edit{
    font-size: 15px;
    outline: none;
    size: 10px;
    padding: 5px;
    margin-left: 5px;
    height: auto;
    width: 500px;
    font-family: "Lucida Grande";
    border-color: #FFAA4F;
    border-radius: 5px;
}

.action-buttons{
    padding-top: 10px;
    display: flex;
    justify-content: right;
}

.save-button{
    margin: 10px;
    width: 100px;
    height: 50px;
    border-color: #04738C;
    color: #04738C;
    font-weight: 800;
    border-radius: 5px;
}

.cancel-button{
    margin: 10px;
    width: 100px;
    height: 50px;
    border-color: #8C4303;
    color: #8C4303;
    font-weight: 800;
    border-radius: 5px;
}

.save-button:hover{
    background-color: #04738C;
    color: white
}

.cancel-button:hover{
    background-color: #8C4303;
    color: white
}

.edit-button-each{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-color: #8C4303;
    border-radius: 5px;
    color: #8C4303;
}

.edit-button-each:hover{
    border-color: #8C4303;
    background-color: #8C4303;
    color: white;
}

.cont-rating{
    padding: 10px;
    border: 2px solid #FFAA4F;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    position: relative;
  }
  
  .ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
  }
  
  .ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-size: 2rem;
    color: #111;
  }
  
  .ec-stars-wrapper a.filled,
  .ec-stars-wrapper a:hover {
    color: #ffaa4f;
  }
  
  .ec-stars-wrapper > a:hover ~ a {
    color: #111;
  }

@media screen and (max-width: 321px){
    .edit-recommendations-container{
        width: 175px;
    }

    .editing{
        padding-left: 0px;
    }

    .descriptionPlace{
        width: 175px;
    }

    .cont-rating{
        width: 175px;
    }

    .input-edit{
        width: 175px;
    }
}

@media  screen and  (min-width: 321px) and (max-width: 426px){
    .edit-recommendations-container{
        width: 250px;
    }

    .editing{
        padding-left: 0px;
    }

    .descriptionPlace{
        width: 250px;
    }

    .cont-rating{
        width: 250px;
    }

    .input-edit{
        width: 250px;
    }
}
  
@media screen and (min-width: 426px) and (max-width: 1024px){
    .edit-recommendations-container{
        width: 450px;
    }

    .editing{
        padding-left: 0px;
    }

    .descriptionPlace{
        width: 450px;
    }

    .cont-rating{
        width: 450px;
    }

    .input-edit{
        width: 450px;
    }
}
  
@media screen and (min-width: 1025px) {
    .edit-recommendations-container{
        width: 900px;
    }

    .editing{
        padding-left: 0px;
    }

    .descriptionPlace{
        width: 900px;
    }

    .cont-rating{
        width: 900px;
    }

    .input-edit{
        width: 900px;
    }
}
  