
.mapadiv{
	width: 35%;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin-top: 50px;
}
.mapadiv path{
	fill: #F4D6B4;
	stroke: #FFAA4F;
	stroke-width: 5px;
}
.mapadiv path:hover {
  fill: #FFAA4F;
  /* Zoom al departamento
  transform: scale(1.2); 
  */

}
.tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #FFAA4F;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.mapadiv path:hover + .tooltip {
  display: block;
}
.my-box {
  position: absolute; 
  top: 50%; 
  left: 10%;
  transform: translate(-120%, -100%); 
  width: 70%; 
  height: 40%;
  background-color: #F4D6B4; 
  border: 2px solid #FFAA4F; 
  padding: 10px; 
  font-size: 100%;
}
.imag{
  width: 60%;
  height: 60%;
}

.jagui-mapa{
  position: absolute;
  width: 250px;
  top: 60%;
  margin-left: 180px;
}

.see-more-button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 20px;
  position: relative;
  display: table;
  margin: 0px 70px 10px 70px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid #8C4303;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #8C4303;
  text-decoration: inherit;
  font-size: medium;
}