.mapadiv{
	width: 35%;
	position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin-top: 50px;
}
.mapadiv path{
	fill: #F4D6B4;
	stroke: #FFAA4F;
	stroke-width: 5px;
}
.mapadiv path:hover {
  fill: #FFAA4F;
}
.tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #FFAA4F;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.mapadiv path:hover + .tooltip {
  display: block;
}
.my-box {
  position: absolute; 
  top: 65%; 
  left: 10%;
  transform: translate(-120%, -100%); 
  width: 70%; 
  height: 68%;
  background-color: #f1f1f1; 
  padding: 5%; 
  font-size: 100%;
  box-shadow: 0 2.5% 5% rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.imag{
  width: 250px;
  height: 150px;
  border-radius: 5%;
  margin-top: 2%;
}

.jagui-mapa{
  position: absolute;
  width: 250px;
  top: 60%;
}

.see-more-button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 20px;
  position: relative;
  display: table;
  margin: 0px 70px 10px 70px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid #8C4303;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #8C4303;
  text-decoration: inherit;
  font-size: medium;
}

h6{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #8C4303;
  text-align: left;
  font-size: 20px;
  display: block;
  margin-top: 0;
}

.Titles h5{
  margin-bottom: 0%;
}
.Titles h7{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #8C4303;
}

.my-box p {
  margin-top: -10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size:medium;
  color: #8C4303;
}