.container-CreatePlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .select-department{
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #FFAA4F;
    border-radius: 5px;
    appearance: none;
  }
  
  .name,
  .description-place,
  .department,
  .imageUrl,
  .cont-rating{
    padding: 10px;
    border: 2px solid #FFAA4F;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #FFAA4F;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #E59438;
  }
  
.cont-rating{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row ;
  position: relative;
}

.ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
}

.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-size: 2rem;
  color: #111;
}

.ec-stars-wrapper a.filled,
.ec-stars-wrapper a:hover {
  color: #ffaa4f;
}

.ec-stars-wrapper > a:hover ~ a {
  color: #111;
}
